<mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [opened]="!(isHandset | async)!.matches">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Dashboard</a>
        <a mat-list-item href="#">Finances</a>
        <a mat-list-item href="#">Blases</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="color: white; background: #3f51b5">
        <mat-toolbar-row style="color: white; background: #3f51b5">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="(isHandset | async)!.matches">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Application Title</span>
        </mat-toolbar-row>
      </mat-toolbar> -->
      <app-dashboard></app-dashboard>
    <!-- </mat-sidenav-content> -->
  </mat-sidenav-container>
  
